@using Starkk.Models
@model LoginViewModel
@{
    ViewBag.Title = "Giriş Yap";
}

<div class="container">

    <div class="row">
        <div class="col">
            <hr class="tall mb-4">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-8">
                        <div class="featured-box featured-box-primary text-left mt-5">
                            <div class="box-content">
                                <h4 class="heading-primary text-uppercase mb-3">Giriş Yap</h4>


                                <section id="loginForm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {

                                        @Html.AntiForgeryToken()
                                        <h4>Email ve Şifreniz ile giriş yapınız.</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Şifre</label>
                                            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                            <div class="col-md-10">

                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    <label>Beni hatırla</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Giriş Yap" class="btn btn-default" />
                                            </div>
                                        </div>
                                        <p>
                                            @Html.ActionLink("Kayıt Ol", "Register")
                                        </p>

                                        <p>
                                            @Html.ActionLink("Şifremi Unuttum ?", "ForgotPassword")
                                        </p>
                                    }
                                </section>



                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}